@{
    ViewBag.Title = "Acceso al Sistema";
}

<div class="jumbotron">
    <h3 class="text-center">PANEL DE CONTROL</h3>
    <div class="row row-no-gutters">
    <img src="~/images/002.jpg" />
    </div>

</div>

